<%- include("../partials/header") %>
<div class="showPage">
  <div class="row">
    <div class="column" id="left-side">
      <section id="show-page">
        <div> <h2>Location: </h2> <%= market.location %></div>
        
       
        <div><h2><%= market.category %></h2></div>
      </section>
      <section id="show-reviews">
        <h4>Reviews</h4>
        <form
          action="/markets/<%= market._id %>/storeReviews"
          method="POST"
          id="add-store-reviews"
        >
        <% if (user) { %>
          <label>Review</label>
          <textarea name="content" cols="30" rows="2"></textarea>
          <br><br>
          <label>Rating</label>
          <select name="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
          <input type="submit" value="Add Store Review" />
        </form>
        <% } %>
        <% if(market.storeReviews.length) { %>
        <table>
          <thead>
            <tr>
              <th>User</th>
              <th>Date</th>
              <th>Review</th>
              <th>Rating</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% market.storeReviews.forEach(function(m) { %>
            <tr>
              <td><%= m.userName %></td>
              <td><%= m.createdAt.toLocaleDateString() %></td>
              <td><%= m.content %></td>
              <td><%= m.rating %></td>
              <% if(user?._id.equals(m.user))  { %>
                <td>
                 
                  <form action="/storeReviews/<%= m._id %>?_method=DELETE" method="POST">
                      <button type="submit">X</button>
                  </form>
              </td>
              <% } %>
            </tr>
            <% }); %>
          </tbody>
        </table>
        <% } else { %>
        <h3>No Reviews Yet</h3>
        <% } %>
      </section>
    </div>
    <div class="column" id="right-side">
      <section id="show-listings">
        <h2>Listing</h2>
        <% if (user) { %>
        <form
          action="/markets/<%= market._id %>/listings"
          method="POST"
          id="add-listings"
        >
          
          <input type="text" placeholder="Your Item Name" name="item" cols="30" rows="5"></input>       
          <input type="number" placeholder="Selling Price" name="price" >
          <br><br>
          <input type="number" placeholder="Quantity" name="quantity">
          <input type="text" placeholder="Image Url" name="itemImg">
          <br><br>          
          <textarea name="description" placeholder="Item description" cols="30" rows="3"></textarea>
          <br>
          <input type="submit" value="Add Listing" />
        </form>
        <% } %>

        <% if(market.listings.length) { %>
        <table class="listingTable">
          <thead>
            <tr>
              <th>Item</th>
              <th width="100">Price</th>
              <th width="100">Quantity</th>
              <th>Image</th>
              <% if (user) { %>
              <th></th>
              <% } %>
            </tr>
          </thead>
          <tbody>
            <% market.listings.forEach(function(l) { %>
            <tr>
             
              <td class="itemAndDescrip"><%= l.item %> <br> <br> <%= l.description %></td>
              <td>$<%= l.price %></td>
              <td><%= l.quantity %></td>
              <td><img class="itemImg" src="https://i.imgur.com/VOpnJTY.jpg" /></a></td>
              <% if(user?._id.equals(l.user))  { %>
              <td class="deleteBox">
               
                <form action="/listings/<%= l._id %>?_method=DELETE" method="POST">
                    <button type="submit">X</button>
                </form>
            </td>
            <% } %>
              
            </tr>
           
            <% }); %>
          </tbody>
        </table>
        <% } else { %>
        <h3>No Listings Yet</h3>
        <% } %>
      </section>
    </div>
  </div>
</div>

<%- include("../partials/footer") %>
