<%- include("../partials/header") %>
<div class="showPage">
  <div class="row">
    <div class="column" id="left-side">
      <section id="show-page">
        <div>Location:</div>
        <div><%= market.location %></div>
      </section>
      <section id="show-reviews">
        <h2>Reviews</h2>
        <form
          action="/markets/<%= market._id %>/storeReviews"
          method="POST"
          id="add-store-reviews"
        >
          <label>Review</label>
          <textarea name="content" cols="30" rows="5"></textarea>
          <label>Rating</label>
          <select name="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
          <input type="submit" value="Add Store Review" />
        </form>

        <% if(market.storeReviews.length) { %>
        <table>
          <thead>
            <tr>
              <th>User</th>
              <th>Date</th>
              <th>Review</th>
              <th>Rating</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% market.storeReviews.forEach(function(m) { %>
            <tr>
              <td><%= m.userName %></td>
              <td><%= m.createdAt.toLocaleDateString() %></td>
              <td><%= m.content %></td>
              <td><%= m.rating %></td>
              <td>
                <!-- <% if(user?._id.equals(m.user))  { %>
                <form action="/storeReviews/<%= m._id %>?_method=DELETE" method="POST">
                    <button type="submit">X</button>
                </form>
                <% } %> -->
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
        <% } else { %>
        <h5>No Reviews Yet</h5>
        <% } %>
      </section>
    </div>
    <div class="column" id="right-side">
      <section id="show-listings">
        <h2>Listing</h2>
        <form
          action="/markets/<%= market._id %>/listings"
          method="POST"
          id="add-listings"
        >
          <label>Item</label>
          <input type="text" name="item" cols="30" rows="5"></input>
          <label>Price</label>
          <input type="number" name="price" >
          <label>Quantity</label>
          <input type="number" name="quantity">
          <br><br>
          <label>Description</label>
          <textarea name="description" cols="30" rows="5"></textarea>
          <br>
          <input type="submit" value="Add Listing" />
        </form>

        <% if(market.listings.length) { %>
        <table>
          <thead>
            <tr>
              <th>Item</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Description</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% market.listings.forEach(function(l) { %>
            <tr>
             
              <td><%= l.item %></td>
              <td><%= l.price %></td>
              <td><%= l.quantity %></td>
              <td><%= l.description %></td>
              <td>
                <% if(user?._id.equals(m.user))  { %>
                <form action="/listings/<%= l._id %>?_method=DELETE" method="POST">
                    <button type="submit">X</button>
                </form>
                <% } %>
              </td>
              
            </tr>
            <% }); %>
          </tbody>
        </table>
        <% } else { %>
        <h5>No Listings Yet</h5>
        <% } %>
      </section>
    </div>
  </div>
</div>

<%- include("../partials/footer") %>
